<main id="main">
  <section id="about" class="about">
<section id="hero" class="clearfix">
  <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="why-us-img">
            <img src="https://thumbs.dreamstime.com/b/vector-business-man-investing-smart-innovative-ideas-businessman-183794023.jpg" alt="" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-6">
          <div class="why-us-content">
            <div class="features clearfix" data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-bookmarks" style="color: #f058dc;"></i>
                <h4>Who We Are ?</h4>
                <p>Dream Drop is a crowdlending financing platform licensed by tunisia Central Bank. As a Fintech company, Dream Drop uses innovative technology to directly connect small businesses seeking fast,affordable finance with financers who can help fund their growth.

                    By financing directly to businesses through Dream Drop, financers can now earn attractive returns while businesses get fast, easy access to funding to grow, create jobs, and drive the economy forward.
                    
                    Our mission is to empower small businesses to thrive by simplifying and expediting their funding needs.</p>
              </div>



            <div class="features clearfix" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-bookmarks" style="color: #f058dc;"></i>
              <h4>We think transparency is the key to doing it right</h4>
              <p>Transparency means both sides of the marketplace always have access to our selection criteria, our results, our financing processes. Transparency is what makes Raqamyah platform works in a fast, simple and responsible way.</p>
            </div>


          </div>

        </div>

      </div>

    </div>

  </div>
  </section>

 
