<app-navbar></app-navbar>
<main id="main">
  <section id="about" class="about">
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3>CONTACT US</h3>
          <p>Feel free to reach out to us with any questions or inquiries. We're here to help.</p>
        </header>
        <div class="row g-5">
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="fas fa-phone" style="color: #6898ff;"></i></div>
              <h4 class="title"><a href="">Telephone</a></h4>
              <p class="description" style="text-align: center;"> +216&nbsp; 99 296 201</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="fas fa-envelope" style="color: #6898ff;"></i></div>
              <h4 class="title"><a href="">Email</a></h4>
              <p class="description" style="text-align: center;">crowfunding@gmail.com</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="fas fa-location-dot" style="color: #3fcdc7;"></i>
              </div>
              <h4 class="title"><a href="">Localisation </a></h4>
              <p class="description" style="text-align: center;">Tunise , Tozeur ,Iset Tozeur</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</main>
<app-footer></app-footer>
