<main id="main">
    <section id="about" class="about">
 <section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
          
                  <header class="section-header">
                    <h3>CONTACT US</h3>
                    <p>Feel free to reach out to us with any questions or inquiries. We're here to help.</p>
                  </header>
          
                  <div class="row g-5">
          
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
                      <div class="box">
                        <div class="icon" style="background: #fceef3;"><i class="fas fa-phone" style="color: #6898ff;"></i></div>
                        <h4 class="title"><a href="">Telephone</a></h4>
                        <p class="description"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +216&nbsp; 99 296 201</p>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                      <div class="box">
                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium jss95 css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="EmailIcon">
                <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4-8 5-8-5V6l8 5 8-5v2z">
                        </path></svg>
                        <h4 class="title"><a href=""> Email</a></h4>
                        <p class="description">warda.rb66@gmail.com</p>
                      </div>
                    </div>
          
                    <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                      <div class="box">
                        <div class="icon" style="background: #e6fdfc;"><i class="bi bi-bar-chart" style="color: #3fcdc7;"></i></div>
                        <h4 class="title"><a href="">Location</a></h4>
                        <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                      </div>
                    </div>
                    </div>
                </div>
              </section>
    </section>
            </main>